fastapi
uvicorn[standard]
psycopg2-binary
pgvector
python-dotenv
pydantic
sentence-transformers
torch
pdfplumber
PyMuPDF
openpyxl
pandas
tabulate
langchain-text-splitters
openai
matplotlib
reportlab
python-multipart
